name: build
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: 22

    - name: Build
      run: |
        npm ci
        npm run build
    - name: Test
      run: npm test
    
    - name: Upload build artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        path: dist
